// COLORS
$color-primary: #151515;
$color-green: #6a983c;
$color-light-brown: #d0A866;
$color-brown: #e5704b;
$color-blue: #37d0d6;
$color-light-gray: #f9f9f9;
$color-gray: #d1d1d1;



// FONTS
$font-poppins: Poppins;
$font-opensans: 'Open Sans';
