
.billing__info {
  margin-bottom: 64px;
}

.billing__title {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: $color-primary;
}

.billing__p {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  font-family: $font-opensans;
  font-size: 12px;
  line-height: 16px;
  color: $color-mid-gray;
}

.bform {

  &__block {
    display: flex;
  }
  
  &__inner-block {
    margin-top: 32px;
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
      margin-left: 32px;
    }

    label {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
    }

    input {
      max-width: 319px;
      padding: 11px 21px;
      background: $color-light-gray;
      color: #5a5a5a;
      border: 1px solid $color-gray;
      border-radius: 12px;
      outline-color: $color-gray;
    }

    input::placeholder {
      font-family: $font-opensans;
      font-size: 14px;
      line-height: 19px;
    }

    .filter__label {
      font-size: 14px;
      font-weight: normal;
      line-height: 19px;
    }
  }
}


.method {
  margin-bottom: 64px;

  &__radio {
    margin-bottom: 16px;

    
    .inner-span {
      position: relative;
      left: 100px;

      img {
        position: relative;
        top: 3px;
        left: 220px;
      }
    }
  }

  &__checkwrap {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;


    input {
      &:checked ~ .checkmark {
        border:5px solid $color-green !important;
      }
    }

    .green-check {
      margin-right: 12px;
      color: $color-green;
    }
  }
}


.paymeth {

  &__radio {
    margin-top: 32px;
    width: 100%;

    input:checked ~ .checkmark {
      border-color: $color-green !important;
    }

    span {
      width: 95%;
      display: inline-block;
      position: relative;
      img {
        position:absolute;
        right: 0;
      }
    }

    .checkmark {
      position: absolute;
      top: 10px !important;
    }
  }
}

.paymeth__inner {
  display: none;
}

#check-three:checked ~ .paymeth__inner{
  display: unset;
}
#check-four:checked ~ .paymeth__inner{
  display: unset;
}
#check-five:checked ~ .paymeth__inner{
  display: unset;
}

.paymeth__inner-block {
  margin-top: 32px;
}

.inner-block {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  input {
    padding: 11px 21px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;

    &::placeholder {
      font-size: 14px;
      line-height: 19px;
    }
  }

  #card-number {
    max-width: 638px;
  }

  #card-holder {
    max-width: 350px;
  }

  #expiration,
  #cvc {
    width: 120px;
  }
}

.card-detail {
  margin-left: 32px;

  .inner-block:nth-child(2) {
    margin-left: 16px;
  }
}

.card-details {
  display: flex;
}


// additional notes
.additional {
  margin-top: 64px;
}

.additional__inner {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  
  label {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  textarea {
    max-width: 670px;
    height: 112px;
    padding: 11px 21px;
    border: 1px solid #D1D1D1;
    background: #f9f9f9;
    box-sizing: border-box;
    border-radius: 12px;

    &::placeholder {
      font-size: 14px;
      line-height: 19px;
    }
  }
}


// confirmation
.confirmation {
  margin-top: 64px;
}

.confirmation__inner {
  margin-top: 32px;
}

.confirmation__inner-block {
  margin-bottom: 16px;
}

.complete-btn {
  margin-top: 16px;
  padding: 16px 48px;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  background: $color-green;
  color: #fff;
  border: 2px solid #46760A;
  box-sizing: border-box;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: transparent;
    color: $color-green;
  }
}


// check

.check {
  margin-top: 32px;

  &__title {
    margin-top: 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  &__p {
    font-family: $font-opensans;
    font-size: 12px;
    line-height: 16px;
    color: $color-mid-gray;
  }
}

.footer__copyright {
  padding-left: 15px;
  font-size: 14px;
  line-height: 19px;
}