
.blog {
  margin-top: 142px;
}

.blog__inner {
  margin-top: 36px;
}

.author {
  display: flex;
  align-items: center;
  
  &__name,
  &__date {
    font-size: 12px;
    line-height: 16px;
  }

  &__image {
    margin-right: 8px;
  }
  &__date {
    margin-left: 16px;
  }
}

.bcol-one {
  &__header {
    margin-top: 0;
    padding: 3px 8px;
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $color-green;
    background: #F4F8EC;
    border-radius: 12px;
  }

  .blog__col-inner {
    padding: 24px;
    width: 469px;
    height: 400px;
    background-image: url(../../img/blog1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__title {
    margin-top: 210px;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #fff;
  }

  .author {
    margin-top: -16px;
    color: #fff;
  }
}


.bcol-two {

  &__header {
    margin-top: 24px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $color-green;
  }

  &__title {
    margin-top: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $color-primary;
  }

  .author {
    margin-top: 16px;
    padding: 0;
  }
}


.bblock {
  display: flex;
  margin-bottom: 32px;

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $color-primary;
  }

  &__image {
    margin-left: 48px;
  }
}


@media (max-width: 1150px) {
  .fulled-container {
    max-width: 90%;
  }

  .blog__col {
    margin-bottom: 20px;
  }
}


@media (max-width: 768px) {

  .blog__col {
    margin: 20px 16px;
  }

  .blog__inner {
    display: flex;
    justify-content: center;
  }

}


@media (max-width: 576px) {
  .bcol-one {

    .blog__col-inner {
      width: 100%;

      .bcol-one__title {
        font-size: 16px;
      }
    }
  }

}